.content {
    width: 100%;
    background: #F6F6FA;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    gap: 32px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 963px;
}

.basketTitle {
    padding-top: 10px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #000000;
}

.basketPopup{
    display: flex;
    justify-content: space-between;
    padding: 28px 0 17px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.selectAll{
    display: flex;
    gap: 11px;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #9797AF;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    box-sizing: border-box;
}

.checkbox:checked+label::before {
    border: none;
    background-color: #CB11AB;
    background-image: url(assets/checkbox.svg);
}

.selectAll label {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #000000;
}

.basketBlock {
    display: flex;
    flex-direction: column;
    padding: 11px 0 37px 0;
    gap: 32px;
}

.missingTitle {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

.missingPopup{
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.total{
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px;
    gap: 24px;
    width: 429px;
    height: 572px;
    left: 0px;
    top: -12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.space {
    display: flex;
    justify-content: space-between;
}

.totalPrice {
    max-height: 32px;
    margin-bottom: 9px;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #000000;
}

.prices {
    height: 24px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.totalDeliveryPointTitle {
    margin-bottom: 4px;
    box-sizing: border-box;
    height: 24px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.changeButton {
    background-color: transparent;
    border: none;
}

.totalAdress {
    margin-bottom: 4px;
    box-sizing: border-box;
    max-height: 16px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}

.totalDate {
    height: 16px;
    margin-bottom: 13px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #CB11AB;
}

.backDelivery {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 12px;
    gap: 8px;
    isolation: isolate;
    width: 100%;
    height: 52px;
    background: #F6F6FA;
    border-radius: 8px;
}

.totalReturnDelivery {
    max-width: 335px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: black;
}

.totalPayCard {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.totalPayMethod {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

.payNow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 12px;
    gap: 8px;
    width: 100%;
    height: 66px;
    background: #F6F6FA;
    border-radius: 8px;
    box-sizing: border-box;
}

.checkPay {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 365px;
    height: 22px;
    border-radius: 8px;
}

.payLabel {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}

.instructionPayNow {
    height: 16px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.orderButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 32px 5px;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    background: #CB11AB;
    border-radius: 8px;
    border: none;
}

.orderButtonText {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.politica {
    display: flex;
    gap: 8px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 40px;
    width: 100%;
    height: 64px;
    background: #6725A8;
    box-sizing: border-box;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.modalPay {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    position: fixed;
    width: 400px;
    height: 408px;
    left: calc(50% - 400px/2);
    top: calc(50% - 408px/2 - 6.5px);
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.modalClose {
    display: flex;
    justify-content: space-between;
}
.modalTitle {
    width: 374px;
    height: 28px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #000000;
}

.closeButton {
    border: none;
    background: transparent;
}
.cards {
    margin-top: 13px;
}
.cardPay {
    margin-bottom: 16px;
}
.payLabel {
    margin-left: 10px;
}

.checkboxModal {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkboxModal+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkboxModal+label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #9797AF;
    border-radius: 15px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    box-sizing: border-box;
}

.checkboxModal:checked+label::before {
    border: none;
    background-color: #CB11AB;
    background-image: url(assets/checkMod.svg);
}

.select {
    margin-top: 123px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 48px 5px;
    width: 164px;
    height: 44px;
    background: #CB11AB;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.modalDel {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    isolation: isolate;
    position: fixed;
    width: 500px;
    height: 408px;
    left: calc(50% - 500px/2 + 50.5px);
    top: calc(50% - 408px/2 - 8px);
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}
.method {
    margin-top: 13px;
    margin-bottom: 26px;
    display: flex;
    gap: 8px;
}
.butMeth {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 2px;
    gap: 16px;
    width: 224px;
    height: 36px;
    background: #FFFFFF;
    border: 2px solid rgba(203, 17, 171, 0.15);
    border-radius: 20px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.cur {
    border-color: #CB11AB;
}

.adressesTitle {
    margin-bottom: 12px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}

.adressMod {
    width: 400px;
    margin-right: 10px;
}

.modSpace {
    margin-bottom: 20px;
}

.selectAdress {
    margin-top: 57px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 48px 5px;
    width: 164px;
    height: 44px;
    background: #CB11AB;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
